---
---

@import "minima";

/* Dark Mode Styles */
body {
    background-color: #121212;
    color: #e0e0e0;
}

a {
    color: #bb86fc;
}

a:visited {
    color: #6b36ac;
}

a:hover {
    color: #eee;
}

header {
    background-color: #121212;
}

footer {
    background-color: #1f1f1f;
    color: #e0e0e0;
}

.post-header {
    background-color: #121212;
}

.site-title, .site-title:visited {
    color: #e0e0e0;
}

.site-nav {
    background-color: #121212;
}

.site-nav .page-link {
    color: #e0e0e0;
}
